.materialy-toolbar__content__container > label {
  font-size: 1rem;
  line-height: 3rem;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: 3rem;
  padding-left: 2rem;
  text-align: left;
  vertical-align: top;
  text-decoration: none;
  color: #4CAF50;
  background: #292929;
}

.materialy-toolbar__content__container > input {
  display: none;
}

.materialy-toolbar__content__container > div {
  padding-left: 1rem;
  width: 100%;
  display: none;
}

.materialy-toolbar__content__container > div > a {
  font-size: 1rem;
  line-height: 3.5rem;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: 3.5rem;
  padding-left: 2rem;
  text-align: left;
  vertical-align: top;
  text-decoration: none;
  color: #FFFFFF;
  background: #292929;
}

.materialy-toolbar__content__container > label:hover {
  background: #212121;
}

.materialy-toolbar__content__container > label:before {
  content: "▶";
}

.materialy-toolbar__content__container > div > a:hover {
  background: #212121;
}

.materialy-toolbar__content__container >input:checked ~ div{
  display: inline-block;
}

.materialy-toolbar__content__container >input:checked ~ label:before{
  content: "▼";
}

.materialy-button--accent {
  user-select: none;
}

.materialy-toolbar__content__link {
  color: #4CAF50;
}

.materialy-toolbar__content__link:hover {
  background: #212121;
}

.materialy-card__container {
  display: inline-block;
  width: 100%;

  & > input {
    display: none;

    &:checked {
      & ~ div {
        max-height: 500rem;
        transition: 1s max-height ease-in-out 0s;
        overflow: auto;
        &::-webkit-scrollbar {
          width: 5px;
          height: 8px;
          background-color: #424242;
          border-radius: 2px;
        }
        &::-webkit-scrollbar-thumb {
          background: rgba(0, 0, 0, 0.2);
        }
      }

      & ~ label:before {
        content: "▼ ";
      }
    }
  }

  & > label {
    display: inline-block;
    font-size: 1.2rem;
    padding: 0.5rem;
    &:before {
      content: "▶ ";
    }
  }

  & > div {
    max-height: 0;
    overflow: hidden;
    width: 100%;
    //animation: materialyCardOpne 650ms ease-in-out 0s;
    transition: 1s max-height ease-in-out 0s;
  }
}

@keyframes materialyCardOpne {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
